.header{
    display: flex;
    gap: 10px;
	font-size: 12px;
    margin-bottom: 40px;
}
.logo{
	height: 45px;
}

.container {
    display: flex;
    width: 70%;
    max-width: 1450px; 
    height: 82vh; 
    background-color: #0962c7;
    box-shadow: 0 0 20px #9c9c9c, 0 0 10px #9c9c9c;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; 
}
@keyframes fadeIn {
    0% {
        opacity: 0; /* Fully transparent at the start */
    }
    100% {
        opacity: 1; /* Fully opaque at the end */
    }
}

.left {
    width: 40%;
    flex: 1;
    height: 100%;
    opacity: 0; /* Start invisible */
    animation: slideInLeft 1s ease-out forwards; /* Apply animation */
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateX(0); /* End in original position */
        opacity: 1; /* Fully visible */
    }
}

.right {
    width: 60%;
    padding: 50px;
    display: flex; 
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 450px;
    flex-direction: column;
    justify-content: center;
    background-color: #efeeee;
}

.intro {
    margin: 50px; 
    color: white;
    padding-top: 80px;
    padding-left: 10px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
}

.intro i{
    color: white;
}

.fa-brands {
    margin-right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.dropdown1 {
    width: 100%;
}

/*contact number*/
.field-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 700px;
    margin-bottom: 15px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
}

select, input[type="tel"] {
    border: none;
    padding: 10px;
    outline: none;
    font-size: 1em;
}

select {
    background-color: #f7f7f7;
    border-right: 1px solid #ccc;
}

input[type="tel"] {
    flex: 1;
}

.field-container:focus-within {
    border-width: 5px;
    border-color: #a5c6ea;
}

/*address*/
.fixed-size{
    width: 300px;  /* Fixed width */
    height: 100px; /* Fixed height */
    resize: none;  /* Prevents resizing */
}
.required-field {
    color: red;
    font-weight: bold;
}